* {
    background-color: black;
    color: white;
    box-sizing: border-box;
	overflow: hidden;
  }

.game {
	height: 100%;

	display: grid;
	grid-template-columns: 75% 25%;
	grid-template-rows: 6% 1fr 1fr;
	grid-template-areas: 'Header Header'
						 'Board Tabs'
						 'Board Buttons';
}

.gameTitle {
	grid-area: Header;
	height: 100%;
	width: 100%;

	display: flex;
	align-items: center;

	background-color: #444;

}

.gameTitle h3 {
	height: 100%;
	width: 40%;

	font-size: 200%;
	background-color: #444;
}

.PhaseChart {
	width: 30%;
	height: 100%;
	
	display: flex;
	align-items: center;

	margin-left: 0;
	margin-right: 0;

	background-color: #444;
}

.stageItem {
	display: flex;
	flex-direction: column;

	height: 80%;
	width: 30%;
	font-size: 80%;

	border: #444 1px solid;
	border-radius: 10px;

	background-color: #222;
}

.stageItem div {
	width: 80%;
	height: 20%;
	margin-top: 10%;
	background-color: #777;
}

.active {
	background-color: #0a0 !important;
}

.gameboard {
	grid-area: Board;
	height: 100%;
}

.Tabs {
	grid-area: Tabs;

	display: grid;
	grid-template-rows: 1fr 7fr;
	grid-template-areas: 'TabList'
						 'Data';
}

.TabList {
	grid-area: TabList;
	width: 100%;

	display: flex;
}

.TabList * {
	width: 100%;
}

.Buttons {
	grid-area: Buttons;
	border: 1px solid #444;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: 'b1 b2 b3 ZIn'
							'b4 b5 b6 ZOut'
							'b7 b8 b9 Group'
							'Info Back Ungroup End';
}

.bgrid {
	border: none;
	height: 100%;
	width: 100%;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
}

.bgrid img {
	height: 100%;
	width: 100%;
	background-color: inherit;
}

.ZoomIn {
	grid-area: ZIn;
}

.ZoomOut {
	grid-area: ZOut;
}

.InfoButton {
	grid-area: Info;
}

.Back {
	grid-area: Back;
}

.EndTurn {
	grid-area: End;
	border-left: 1px solid #444;
	border-top: 1px solid #444;
}

.IO {
	grid-area: IO;
	visibility: hidden;
}

.IO * {
	visibility: inherit;
}

.invisible {
	visibility: hidden;
	display: none;
}

.Option {
	background-color: #333;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 'Name SelectButton'
						 	'Information SelectButton';
	padding-left: 0px;
}

.Selected {
	background-color: #444;
}

.SelectButton {
	grid-area: SelectButton;
	width: 100%;
	height: 100%;
}

.Health {
	background-color: inherit;
	grid-area: Information;
}

.Weapon {
	grid-area: Information;
}

ul {
	padding-left: 0%;
}